.section-title {
    color: #2f2f2f; }
  
  .product-section {
    padding: 7rem 0; }
    .product-section .product-item {
      text-align: center;
      text-decoration: none;
      display: block;
      position: relative;
      padding-bottom: 50px;
      cursor: pointer; }
      .product-section .product-item .product-thumbnail {
        margin-bottom: 30px;
        position: relative;
        top: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .product-section .product-item h3 {
        font-weight: 600;
        font-size: 16px; }
      .product-section .product-item strong {
        font-weight: 800 !important;
        font-size: 18px !important; }
      .product-section .product-item h3, .product-section .product-item strong {
        color: #2f2f2f;
        text-decoration: none; }
      .product-section .product-item .icon-cross {
        position: absolute;
        width: 35px;
        height: 35px;
        display: inline-block;
        background: #2f2f2f;
        bottom: 15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-bottom: -17.5px;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .product-section .product-item .icon-cross img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .product-section .product-item:before {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        content: "";
        background: #dce5e4;
        height: 0%;
        z-index: -1;
        border-radius: 10px;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .product-section .product-item:hover .product-thumbnail {
        top: -25px; }
      .product-section .product-item:hover .icon-cross {
        bottom: 0;
        opacity: 1;
        visibility: visible; }
      .product-section .product-item:hover:before {
        height: 70%; }
  
  .feature {
    margin-bottom: 30px; }
    .feature .icon {
      display: inline-block;
      position: relative;
      margin-bottom: 20px; }
      .feature .icon:before {
        content: "";
        width: 33px;
        height: 33px;
        position: absolute;
        background: rgba(59, 93, 80, 0.2);
        border-radius: 50%;
        right: -8px;
        bottom: 0; }
    .feature h3 {
      font-size: 14px;
      color: #2f2f2f; }
    .feature p {
      font-size: 14px;
      line-height: 22px;
      color: #6a6a6a; }
  
  .custom-list {
    width: 100%; }
    .custom-list li {
      display: inline-block;
      width: calc(50% - 20px);
      margin-bottom: 12px;
      line-height: 1.5;
      position: relative;
      padding-left: 20px; }
      .custom-list li:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid #3b5d50;
        position: absolute;
        left: 0;
        top: 8px; }
  
  .popular-product {
    padding: 0 0 7rem 0; }
    .popular-product .product-item-sm h3 {
      font-size: 14px;
      font-weight: 700;
      color: #2f2f2f; }
    .popular-product .product-item-sm a {
      text-decoration: none;
      color: #2f2f2f;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .popular-product .product-item-sm a:hover {
        color: rgba(47, 47, 47, 0.5); }
    .popular-product .product-item-sm p {
      line-height: 1.4;
      margin-bottom: 10px;
      font-size: 14px; }
    .popular-product .product-item-sm .thumbnail {
      margin-right: 10px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
      flex: 0 0 120px;
      position: relative; }
      .popular-product .product-item-sm .thumbnail:before {
        content: "";
        position: absolute;
        border-radius: 20px;
        background: #dce5e4;
        width: 98px;
        height: 98px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1; }
  
  .untree_co-section {
    padding: 7rem 0; }
  
  .form-control {
    height: 50px;
    border-radius: 10px;
    font-family: "Inter", sans-serif; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #3b5d50;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
    .form-control::-webkit-input-placeholder {
      font-size: 14px; }
    .form-control::-moz-placeholder {
      font-size: 14px; }
    .form-control:-ms-input-placeholder {
      font-size: 14px; }
    .form-control:-moz-placeholder {
      font-size: 14px; }
  
  .service {
    line-height: 1.5; }
    .service .service-icon {
      border-radius: 10px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
      flex: 0 0 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #3b5d50;
      margin-right: 20px;
      color: #ffffff; }
  
  textarea {
    height: auto !important; }
  
  .site-blocks-table {
    overflow: auto; }
    .site-blocks-table .product-thumbnail {
      width: 200px; }
    .site-blocks-table .btn {
      padding: 2px 10px; }
    .site-blocks-table thead th {
      padding: 30px;
      text-align: center;
      border-width: 0px !important;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px; }
    .site-blocks-table td {
      padding: 20px;
      text-align: center;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.8); }
    .site-blocks-table tbody tr:first-child td {
      border-top: 1px solid #3b5d50 !important; }
    .site-blocks-table .btn {
      background: none !important;
      color: #000000;
      border: none;
      height: auto !important; }
  
  .site-block-order-table th {
    border-top: none !important;
    border-bottom-width: 1px !important; }
  
  .site-block-order-table td, .site-block-order-table th {
    color: #000000; }
  
  .couponcode-wrap input {
    border-radius: 10px !important; }
  
  .text-primary {
    color: #3b5d50 !important; }
  
  .thankyou-icon {
    position: relative;
    color: #3b5d50; }
    .thankyou-icon:before {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(59, 93, 80, 0.2); }
  